.our-works {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    // top: 50%;
    transform: translate(-50%, 0%);
    // border-radius: 655px;
    top: 0;
    background: radial-gradient(72.9% 72.9% at 35.19% 35.11%, rgba(139, 77, 255, 0.59) 0%, rgba(41, 132, 235, 0.59) 100%);
    filter: blur(150px);
    width: toRem(655);
    height: toRem(353);
    z-index: -1;
  }

  &__container {
    position: relative;
  }

  &__decor {
    position: absolute;
    // background: radial-gradient(72.9% 72.9% at 35.19% 35.11%, rgba(139, 77, 255, 0.59) 0%, rgba(41, 132, 235, 0.59) 100%) url('@img/services/blur-dec.svg') 0 0 no-repeat;
    left: 50%;
    top: toRem(-170);
    transform: translate(-50%, 0%);
    z-index: -1;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 85, 35);
  }

  &__slider {
    position: relative;
  }

  &__slide {
    max-width: toRem(452);

    overflow: hidden;
    border-radius: 50px;
    background: linear-gradient(111deg, #3145FF 1.38%, #2D9AC9 35.28%, #7530F3 67.13%, #31F3FF 100%);
  }

  &__top {
    img {
      max-width: 100%;
    }
  }

  &__image {}

  &__media {
    position: relative;
    padding: 0 toRem(25) toRem(25);
  }

  &__button {
    transition: all 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include adaptiveValue("width", 188, 77);
    @include adaptiveValue("height", 188, 77);
    background-color: #fff;

    // pointer-events: none;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 0.2);

    transition: all 0.3s;
    // opacity: .2;

    // z-index: -1;

    &::before {
      transition: all 0.3s;

      border-radius: 50%;
      background: #fff url('@img/icons/play.svg') center center no-repeat;
      box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.25);
      content: '';
      position: absolute;
      background-color: #fff;
      width: 46.8%;
      height: 46.8%;


    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);

        &::before {
          transform: scale(1.1);
        }
      }
    }
  }

  &__text {
    margin-top: toRem(23);
    margin-bottom: toRem(23);

    text-align: center;
    font-size: 16px;

    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.8px;

    span {
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.8px;
    }
  }
}


.our-works-button-prev,
.our-works-button-next {
  margin-top: toRem(20);
  position: absolute;
  @include adaptiveValue("width", 80, 49);
  @include adaptiveValue("height", 80, 49);

  border-radius: 50%;

  z-index: 10;

  transition: all .6s;
}

.our-works-button-prev {
  left: 0%;
}

.our-works-button-next {
  right: 0%;
}

.our-works__pagination {
  bottom: -70px !important;
}

.swiper-pagination-bullet {
  width: toRem(10) !important;
  height: toRem(10) !important;

  background-color: #36263E !important;
}

.swiper-pagination-bullet {

  margin-right: toRem(8) !important;
  margin-left: toRem(8) !important;

  &.swiper-pagination-bullet-active {
    background-color: #00AD90 !important;
  }
}