.services {
  padding-top: toRem(177);

  /* .services__container */
  &__container {}

  /* .services__title */
  &__title {
    margin-bottom: toRem(90);
  }

  /* .services__items */
  &__items {
    margin-bottom: toRem(197);
  }

  /* .services__item */
  &__item {}
}

.item-services {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: toRem(107);
  align-items: center;

  &:not(:last-child) {
    margin-bottom: toRem(74);
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // border-radius: 655px;
    background: radial-gradient(72.9% 72.9% at 35.19% 35.11%, rgba(139, 77, 255, 0.59) 0%, rgba(41, 132, 235, 0.59) 100%);
    filter: blur(150px);
    width: toRem(655);
    height: toRem(353);
    z-index: -1;
  }

  &__decor {
    position: absolute;
    // background: radial-gradient(72.9% 72.9% at 35.19% 35.11%, rgba(139, 77, 255, 0.59) 0%, rgba(41, 132, 235, 0.59) 100%) url('@img/services/blur-dec.svg') 0 0 no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  /* .item-services__image */
  &__image {
    position: relative;
    // min-height: toRem(480);
    padding-top: toRem(20);
    padding-left: toRem(12);
    padding-right: toRem(12);
    padding-bottom: toRem(14);
    // background-color: red;
    background: linear-gradient(111deg, #3145FF -20.25%, #2D9AC9 13.65%, #7530F3 45.5%, #31F3FF 78.37%);
    border-radius: toRem(50);

    &::before {
      content: '';
      position: absolute;
      background-color: #F5F5F5;
      height: toRem(412);
      width: 2px;
      left: 50%;
      top: 47.2%;
      transform: translate(-50%, -50%);
    }

    img {
      border-radius: 44px;
      border: 2px solid #3DD1FD;

      // background: linear-gradient(111deg, #3145FF 1.38%, #2D9AC9 35.28%, #7530F3 67.13%, #31F3FF 100%);
    }
  }

  /* .item-services__badge */
  &__badge {
    position: absolute;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: toRem(25);

    background-color: #00AD90;
    top: 10%;


    color: #141D23;

    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.8px;

    /* .item-services__badge_1 */
    &_1 {
      left: 6%;

    }

    /* .item-services__badge_2 */
    &_2 {
      right: 6%;
    }
  }

  /* .item-services__price */
  &__price {
    margin-top: toRem(14);

    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;

    span {
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.8px;
    }
  }

  /* .item-services__title */
  &__title {
    margin-bottom: toRem(19);

    font-size: 30px;
    line-height: normal;
    letter-spacing: 1.5px;

    .item-services__content_3 & {
      letter-spacing: normal;
    }
  }

  /* .item-services__subtitle */
  &__subtitle {
    margin-bottom: toRem(66);

    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
  }

  /* .item-services__work */
  &__work {
    position: relative;
    max-width: toRem(495);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: toRem(33);

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;

    .item-services__content_3 & {
      max-width: toRem(538);
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }

    &::before {
      content: '';
      position: absolute;
      width: toRem(7);
      height: toRem(7);
      background-color: #fff;
      border-radius: 50%;
      left: 0;
    }

    span {
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.9px;
    }
  }

  /* .item-services__consultation */
  &__consultation {
    display: flex;
    align-items: center;
    gap: toRem(17);
    margin-top: toRem(52);
    margin-bottom: toRem(28);

    color: #2CD996;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    text-decoration-line: underline;
  }

  /* .item-services__callback */
  &__callback {
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;

    a {
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.9px;
    }
  }
}



.services {

  /* .services__related */
  &__related {}
}

.related-services {

  /* .related-services__title */
  &__title {
    margin-bottom: toRem(100);

    text-align: center;
    font-size: 30px;
    line-height: normal;
  }

  /* .related-services__items */
  &__items {
    display: grid;
    gap: toRem(20);
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* .related-services__item */
  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      // border-radius: 655px;
      background: radial-gradient(72.9% 72.9% at 35.19% 35.11%, rgba(139, 77, 255, 0.59) 0%, rgba(41, 132, 235, 0.59) 100%);
      filter: blur(150px);
      width: toRem(655);
      height: toRem(353);
      z-index: -1;
    }
  }

  /* .related-services__image */
  &__image {
    border-radius: 50px;

  }

  /* .related-services__name */
  &__name {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: toRem(370);
    padding: 50px;
    display: flex;
    align-items: center;

    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.40);

    background: #0A0A19 url('@img/services/back2.svg') center center no-repeat;
    background-size: cover;

    .related-services__item_2 & {
      top: 0;
    }
  }
}