//====================================================================================================
.header {
	position: absolute;
	z-index: 600;
	width: 100%;
	top: 0;
	left: 0;

	&__wrapper {
		position: fixed;
		display: flex;
		align-items: center;

		z-index: 29;
		top: 0;
		left: 0;
		width: 100%;
		padding: toRem(5) 0;
		@include adaptiveValue("height", 154, 70);
		// transition: transform 0.37s ease-in-out, min-height 0.25s ease-in-out,
		// 	background-color 0.25s ease-in-out;
		transition: all 0.4s;

		._header-scroll & {
			transform: translateY(-100%);
			background-color: rgba(0, 0, 0, 0.8);

			@include adaptiveValue("height", 100, 50);

		}

		.header.header--light._header-scroll & {
			background-color: rgba(0, 0, 0, 0.9);
		}

		._header-scroll._header-show & {
			transform: none;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__logo {
		img {
			max-width: 100%;
			@include adaptiveValue("width", 194, 97);
			@include adaptiveValue("height", 84, 42);
		}

		@include adaptiveValue("margin-right", 130, 20);
	}

	&__menu {
		@include adaptiveValue("margin-right", 62, 20);

	}

	&__contact {

		// svg {
		// 	path {
		// 		transition: all .3s ease .0s;
		// 	}
		// }

		// @media (any-hover: hover) {
		// 	&:hover {
		// 		color: $colorHover;

		// 		svg {
		// 			path {
		// 				fill: $colorHover;
		// 			}
		// 		}
		// 	}
		// }
	}

	&__phone {
		color: #F5F5F5;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: 1.4px;
	}

	&__time {
		display: block;
		font-size: 16px;
		line-height: normal;
		letter-spacing: 0.8px;
		text-align: right;
	}

	&__social {
		display: flex;
		align-items: center;
		gap: toRem(10);
	}
}

.menu {
	padding: 0 toRem(10); // отступы безопасности

	// .menu__body

	&__body {
		@media (max-width:$tablet) {
			position: fixed;
			width: 100%;
			// height: 100%;
			top: 0;
			left: 0;
			// background-color: $bgColorSemi;
			padding: toRem(128) toRem(15) toRem(25) toRem(28);
			overflow: auto;

			transform: scale(.7);
			visibility: hidden;
			opacity: 0;
			background-color: $bodyColor;
			text-align: center;
			box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.52);
			transition: all 0.3s;

			.menu-open & {
				transition: opacity 0.3s ease-in-out, transform .3s ease-in-out;
				visibility: visible;
				transform: scale(1);
				z-index: 900;
				opacity: 1;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		@include adaptiveValue("column-gap", 65, 15, 0, $containerWidth, 992);

		// @media (max-width:$tablet) {
		// 	padding-bottom: toRem(101);
		// 	flex: 1 1 auto;

		// 	font-size: toRem(0);
		// 	flex-direction: column;
		// 	row-gap: toRem(36);
		// }

		// @media (max-width: em(580)) {
		// 	border-bottom: 1px solid #BCC0CC;
		// }
	}

	&__item {
		&:last-child {
			display: flex;
			align-items: center;
			gap: toRem(7);
		}
	}


	&__link {
		font-size: toRem(16);
		color: $colorFont;
		line-height: normal;
		letter-spacing: 0.8px;
		transition: color .3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		// @media (max-width:$tablet) {
		// 	padding-bottom: toRem(10);

		// 	border-bottom: 1px solid #BCC0CC;
		// 	font-size: toRem(20);
		// 	color: $mainColor;
		// }

		&:last-child {
			display: flex;
			align-items: center;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(26);
		height: toRem(26);
		z-index: 999;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(3);
			background-color: rgba(255, 255, 255, 0.97);
			border-radius: toRem(2);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				background-color: $mainColor;
			}

			&::before {
				top: calc(46% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(48% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}